
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.offer {
  background: linear-gradient(to right, #000000, #e74c3c);
  text-align: center;
  color: white;
  padding-block: 10px;
}
.navbar {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  padding-block: 15px;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav > h5 {
  display: inline-block;
  margin-inline: 18px;
  color: white;
}
nav > input {
  width: 30%;
  border: none;
  height: 4vh;
  font-size: large;
  margin-right: 5px;
}
.sale {
  background-image: url(https://static01.nyt.com/images/2021/03/30/multimedia/28xp-shoes-09/28xp-shoes-09-superJumbo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 55vh;
  font-size: large;
  color: white;
  padding: 7% 10%;
}

section > header {
  width: 65%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.5);
}
.trending {
  padding: 1% 5%;
}
.subtrending {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1%;
  margin-block: 2%;
}
.tr {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 2px;
  font-size: large;
  border: 1px solid black;
}
.subtrending > div > img {
  width: 112px;
  height: 125px;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to left, #000000, #4e4c4c);
}
.shoes {
  width: 85%;
  height: 75%;
  padding: 2%;
  margin: auto;
  margin-top: 7.5%;
  box-shadow: 0px 0px 10px gray;

  background: linear-gradient(to right, #000000, #e74c3c);
}
.text {
  max-width: 40%;
  color: white;
}
.text > p {
  font-size: large;
  margin-bottom: 50px;
  line-height: 20px;
}
.text > h1 {
  font-size: xx-large;
  margin-bottom: 50px;
  line-height: 20px;
}
.image {
  position: absolute;
  right: 10%;
  top: 20%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 8px 8px 8px white;
}
.image:hover {
  width: 500px;
  height: 450px;
}
